<%- include('partials/header') %>


<div id="home-container" class="jumbotron centered">
    <div class="container">
    <span style='font-size:100px;'>&#128055;</span>
    <h1 class="display-3">Piggybank</h1>
    <p class="lead">Keep track of your kids money</p>
    <hr>
    <a class="btn btn-block btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-block btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
</div>

<%- include('partials/footer') %>